/*body*/
.assets-body{
	background: #eee;
		.assets-container{
			align-content: center;
				.col-container{
					display: block;
					list-style-type: none;
					padding: 20px;
					text-align: center;
				} 

		}
} 